@font-face {
    font-display: wrap;
    font-family: 'Raleway-regular';
    src: url('../font/RALEWAY-REGULAR.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-display: wrap;
    font-family: 'Raleway-bold';
    src: url('../font/RALEWAY-EXTRABOLD.woff') format('woff');
    font-weight: 800;
    font-style: normal; 
}