.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &.header-fixed {
        .all {
            padding: 80px 0 0;
        }
    }
}

.all {
    flex-grow: 1;
    margin-top: -80px;
}

.container {
    width: 1250px;
    padding: 0 40px;
    margin: 0 auto;

    @media (max-width: $tablet-max) {
        width: 100%;
        padding: 0 20px;
    }
}