$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1023px;
$desktop-sm-min: 1024px;
$desktop-sm-max: 1439px;
$desktop-md-min: 1440px;
$desktop-lg-min: 1920px;
$desktop-md-max: 1919px;

$raleway: 'Raleway-regular', Arial, sans-serif;
$ralewayBold: 'Raleway-bold', Arial, sans-serif;

$white: #fff;
$black: #000;

$violet: #5c5098;
$yellow: #f5d44f;
$green: #9fb83a;