.category {
    &__list {
        display: flex;
        align-items: flex-start;

        @media (max-width: $tablet-max) {
            display: block;
        }
    }

    &__item {
        width: calc(100% / 3);

        @media (max-width: $tablet-max) {
            width: 100%;
        }
    }
}