.catalog-page {
    background-image: url("../img/official/catalog-page-bg.svg");
    background-repeat: no-repeat;
    background-position: -200px 45%;
    background-size: 500px 500px;

    @media (max-width: $desktop-md-max) {
        background-position: -200px 30%;
    }

    @media (max-width: $tablet-max) {
        background: none;
    }


    &.sort-mobile-opened {
        .catalog-page__sort {
            display: block;
        }
    }

    &.filter-mobile-opened {
        .catalog-page__filters {
            display: block;
        }
    }


    &__wrapper {
        padding: 182px 40px 140px;

        @media (max-width: $desktop-md-max) {
            padding: 182px 134px 210px;
        }

        @media (max-width: $tablet-max) {
            padding: 146px 20px 152px;
        }
    }

    &__grid {
        display: flex;
        align-items: flex-start;

        @media (max-width: $tablet-max) {
            display: block;
            position: relative;
        }
    }

    &__filters {
        width: 305px;
        flex-shrink: 0;

        @media (max-width: $desktop-md-max) {
            width: 271px;
        }

        @media (max-width: $tablet-max) {
            width: 340px;
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 10;
        }
    }

    &__inner {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-grow: 1;

        @media (max-width: $tablet-max) {
            flex-direction: column;
        }
    }

    &__title {
        margin: 0;
        padding: 0 24px 0 0;
        font-size: 28px;
        line-height: 38px;
        font-weight: 900;
        font-family: $raleway;
        color: $text-black;
        letter-spacing: -1px;
        text-transform: uppercase;

        @media (max-width: $desktop-md-max) {
            width: 100%;
        }
    }

    &__products {
        width: 100%;
        margin: 24px 0 0;

        @media (max-width: $tablet-max) {
            margin: 40px 0 0;
            order: 1;
        }
    }

    &__sort {
        margin: 0 0 0 auto;

        @media (max-width: $desktop-md-max) {
            margin: 16px 0 0;
        }

        @media (max-width: $tablet-max) {
            display: none;
            position: absolute;
            margin: 0;
            right: 0;
            top: 0;
            z-index: 10;
        }

    }

    &__mobile-buttons {
        display: none;

        @media (max-width: $tablet-max) {
            display: flex;
            align-items: center;
            margin: 32px 0 0;
        }
    }

    &__mobile-button {
        padding: 0;
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        letter-spacing: -1px;
        color: $text-black;
        border: none;
        background-color: transparent;
        box-shadow: 0 1px 0 $text-black;

        &:not(:first-of-type) {
            margin: 0 0 0 32px;
        }
    }
}