.close-button {
    width: 24px;
    height: 24px;
    position: absolute;
    padding: 0;
    border: none;
    background-color: transparent;

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 24px;
        height: 2px;
        top: 50%;
        left: 50%;
        background: $black;
    }

    &::before {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    &::after {
        transform: translate(-50%, -50%) rotate(45deg);
    }
}