.philosophy {

    &::before {
        content: '';
        left: 100px;
        top: 154px;
        position: absolute;
        background: url('../img/official/');
    }



    &__wrapper {
        display: flex;
        align-items: center;
        padding: 80px 0;

        @media (max-width: $tablet-max) {
            display: block;
            padding: 88px 0 72px;
        }
    }

    &__picture {
        width: 501px;
        flex-shrink: 0;
        position: relative;
        border-radius: 100%;
        overflow: hidden;

        @media (max-width: $tablet-max) {
            width: 100%;
            max-width: 501px;
            margin: 0 auto;
        }

        &::before {
            content: '';
            display: block;
            padding-top: 100%;
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 100%;
            transform: translate(-50%, -50%);
        }
    }

    &__content {
        margin: 0 0 0 68px;
        text-align: center;

        @media (max-width: $tablet-max) {
            max-width: 380px;
            margin: 56px auto 0;
        }
    }

    &__text {
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 26px;
        color: $text-black;
        text-align: left;
        font-weight: 500;

        &:not(:first-of-type) {
            margin: 48px 0 0;

            @media (max-width: $tablet-max) {
                margin: 20px 0 0;
            }
        }

        @media (max-width: $tablet-max) {
            max-width: 380px;
        }
    }

    &__title {
        margin: 40px 0 0;
        font-size: 25px;
        font-weight: 900;
        color: $text-black;
        text-transform: uppercase;
        text-align: left;

        @media (max-width: $tablet-max) {
            max-width: 380px;
            margin: 32px 0 0;
            line-height: 42px;
        }
    }
}