.profile-page {
    position: relative;
    overflow: hidden;

    &.profile-page--favorite {
        &::after {
            content: none;
        }

        .profile-page {
            &__wrapper {
                padding-bottom: 103px;

                @media (max-width: $tablet-max) {
                    padding-bottom: 220px;
                }
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        width: 225px;
        height: 136px;
        left: calc(((100% - 1170px) / 2));
        bottom: 0;
        background-image: url('../img/official/human-profile.svg');
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: $tablet-max) {
            left: 40px;
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 185px;
        right: calc((100% - 2152px) / 2);
        width: 558px;
        height: 466px;
        background-image: url('../img/official/profile-decor-green.png');
        background-size: cover;
        background-repeat: no-repeat;

        @media (max-width: $tablet-max) {
            display: none;
        }
    }


    &__wrapper {
        padding: 184px 0 150px;

        @media (max-width: $tablet-max) {
            padding: 140px 0 220px;
        }
    }

    &__title {
        font-size: 28px;
        line-height: 32px;
        font-weight: 900;
        color: $text-black;
        text-transform: uppercase;
        text-align: left;
    }

    &__inner {
        display: flex;
        align-items: flex-start;
        margin: 68px 0 0;

        @media (max-width: $tablet-max) {
            display: block;
            margin: 48px 0 0;
        }
    }

    &__navigation {
        width: 200px;
        flex-shrink: 0;

        @media (max-width: $tablet-max) {
            width: 100%;
        }
    }

    &__content {
        width: 100%;
        margin: 0 0 0 30px;

        @media (max-width: $tablet-max) {
            margin: 32px 0 0;
        }
    }

    &__form {

        @media (max-width: $tablet-max) {
            margin: 0 -20px;
        }

        &:not(:first-of-type) {
            margin: 24px 0 0;

            @media (max-width: $tablet-max) {
                margin: 24px -20px 0;
            }
        }
    }

    &__favorite {
        &-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, 271px);
            column-gap: 24px;
            row-gap: 56px;

            @media (max-width: $tablet-max) {
                grid-template-columns: repeat(auto-fill, 210px);
                column-gap: 20px;
            }
        }
    }
}